
.idea/
.vs/
.vscode/

.build/
build/
.out/
out/
.output/
output/

bin/
.bin/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.[Dd]ebug/
.[Dd]ebugPublic/
.[Rr]elease/
.[Rr]eleases/
.x64/
.x86/
.[Ww][Ii][Nn]32/
.[Aa][Rr][Mm]/
.[Aa][Rr][Mm]64/
.bld/
.[Bb]in/
.[Oo]bj/
.[Oo]ut/
.[Ll]og/
.[Ll]ogs/

*.log
*.output
*.exe
*.appx
*.dll
*.pfx

*.[Cc]ache
!?*.[Cc]ache/

*.pyc
*.run
